.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  /* align-items: flex-start; */
  width: 100%;
}

.container > div {
  width: 250px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}
